.container{
    width: 500px;
    display: flex;
    /* background-color: red; */
    /* border-style: solid;
    border-width: 2px;
    border-radius: 5px; */
    padding: 10px;
    border-color: var(--colore-primario);
    vertical-align: bottom;
    flex-direction: column;
    gap: 10px;
}


.containerBtn{
    display: flex;
    justify-content: center;
}

.containerBtn > button {
    background-color: var(--colore-primario);
    /* width: 10px; */
    height: 40px;
}

.container > h3 {
    display: flex;
    justify-content: center;
}
