.main {
  height: 100vh;
  /* color: rgb(117, 98, 56); */
  display: flex;
  flex-direction: column;
  color: var(--colore-primario);
}

.main > .header {
  display: flex;
  justify-content: center;
  background-color: var(--colore-primario);
  color: rgb(75, 52, 4);
}

.layout {
  display: flex;
  height: 100%;
  display: flex;
}


app-sidebar {
  flex: 0 0 250px; 
  padding: 1rem;
  border-right: 2px solid var(--colore-primario)

}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
  align-items: center;
}
